<!DOCTYPE html>

<html lang="en-US">
        <head>
                <link rel="stylesheet" href="css/style.css">
                <meta content="width=device-width" name="viewport" />
                <meta charset="UTF-8"/>


        </head>
        <body>
                <div id="search-container">
                        <form id="search-form">
                                <input type="text" placeholder="Search for a player..." id="search-input">
                                <button type="submit" id="submit-btn">Submit</button>
                        </form>
                </div>
                
        </body>

        <script src="js/index-script.js"></script>
</html>
