<!DOCTYPE html>

<html lang="en-US">
        <head>
                <link rel="stylesheet" href="css/style.css">
                <meta content="width=device-width" name="viewport" />
                <meta charset="UTF-8"/>


        </head>
        <body>
                <div id="search-container">
                        <form id="search-form" action="/search" method="POST">
                                <input type="text" placeholder="Search for a player..." id="search-input" name="search-input">
                                <button type="submit" id="submit-btn">Submit</button>
                        </form>
                        <% if (results) {%>
                                <h1>Results</h1>
                                <div id="searchResults">
                                        <ul>
                                               <% results.forEach( (result) => {%>  
                                                <li><%= result.name %></li>
                                                <% }) %>
                                        </ul>
                                </div>
                        <% } %>
                </div>
                
                
        </body>

        <script src="js/index-script.js"></script>
</html>
