<head>
        <link rel="stylesheet" href="css/style.css">
        <meta content="width=device-width" name="viewport" />
        <meta charset="UTF-8"/>

        <title>HHOF Calculator</title>
</head>