<head>
        <link rel="stylesheet" href="css/style.css">
        <meta content="width=device-width" name="viewport" />
        <meta charset="UTF-8"/>
        <!-- <link rel="icon" type="image/png" href="HHOF.png"> -->
        <title>HHOF Calculator</title>
</head>